# dependencies
node_modules/

# build outputs
dist/
.vite/

# lockfiles (optional if you only use npm)
pnpm-lock.yaml
yarn.lock

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store